@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter';
  @apply bg-primaryDark text-primaryLight;
}

#sidebar {
  height: calc(100vh - 72px);
}

scrollbar {
  opacity: 0;
}
